.links,.icons {
    display: flex;
    flex-direction: row;
}
.links {
    /* Align the link buttons to the start (left) */
    justify-content: flex-start;
    display: flex;
}

.icons {
    /* Align the icons to the end (right) */
    justify-content: flex-end;
    display: flex;
}
/* Extra small devices */
@media (max-width: 599.98px) {
    /* CSS rules for extra small devices go here */
}

/* Small devices */
@media (min-width: 600px) and (max-width: 959.98px) {
    /* CSS rules for small devices go here */
}

/* Medium devices */
@media (min-width: 960px) and (max-width: 1279.98px) {
    /* CSS rules for medium devices go here */
}

/* Large devices */
@media (min-width: 1280px) and (max-width: 1919.98px) {
    /* CSS rules for large devices go here */
}

/* Extra Large devices */
@media (min-width: 1920px) and (max-width: 2559.98px) {
    /* CSS rules for extra large devices go here */
}

/* Extra Extra Large devices */
@media (min-width: 2560px) {
    /* CSS rules for extra extra large devices go here */
}
