.links, .icons {
    display: flex;
    align-items: center;
}
/* CSS for the logo within the app bar */
.logo {
    height: 100%; /* Set the height to match the app bar */
    display: flex;
    align-items: center; /* Centers the logo vertically */
    padding: 5px; /* Optional: adds some space around the logo */
}

    .logo img {
        height: 100%; /* Make the image fill the logo container */
        width: auto; /* Maintain the aspect ratio of the image */
    }

.links {
    flex: 1; /* This will allow the .links container to grow and fill available space */
    justify-content: center;
}

.icons {
    justify-content: flex-end;
}
.menu-dropdown {
    width: 100%;
    background: #f0f0f0; /* example color */
    z-index: 2; /* to ensure it's above other content */
    box-shadow: 0 2px 4px rgba(0,0,0,.2); /* optional, for drop shadow */
}



.full-width-link {
    color: blue;
    display: block; /* Make the link block level */
    width: 100%; /* Set the width to fill the container */
    height: 100%; /* Set the height to fill the container */
    text-decoration: none; /* Optional: to remove the underline from links */
}


/* Extra small devices */
@media (max-width: 599.98px) {
    /* CSS rules for extra small devices go here */
}

/* Small devices */
@media (min-width: 600px) and (max-width: 959.98px) {
    /* CSS rules for small devices go here */
}

/* Medium devices */
@media (min-width: 960px) and (max-width: 1279.98px) {
    /* CSS rules for medium devices go here */
}

/* Large devices */
@media (min-width: 1280px) and (max-width: 1919.98px) {
    /* CSS rules for large devices go here */
}

/* Extra Large devices */
@media (min-width: 1920px) and (max-width: 2559.98px) {
    /* CSS rules for extra large devices go here */
}

/* Extra Extra Large devices */
@media (min-width: 2560px) {
    /* CSS rules for extra extra large devices go here */
}
