.links, .icons {
    display: flex;
    align-items: center;
}

.links {
    flex: 1; /* This will allow the .links container to grow and fill available space */
    justify-content: center;
}

.icons {
    justify-content: flex-end;
}
.menu-dropdown {
    width: 100%;
    background: #f0f0f0; /* example color */
    z-index: 2; /* to ensure it's above other content */
    box-shadow: 0 2px 4px rgba(0,0,0,.2); /* optional, for drop shadow */
}



.full-width-link {
    color: blue;
    display: block; /* Make the link block level */
    width: 100%; /* Set the width to fill the container */
    height: 100%; /* Set the height to fill the container */
    text-decoration: none; /* Optional: to remove the underline from links */
}
.nav-button {
    transition: all 0.3s ease; /* Smooth transition for all properties */
}

    .nav-button:hover {
        background-color: #ffffff; /* Change to your preferred hover background color */
        color: #000000; /* Change to your preferred hover text color */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Elevate with shadow */
        transform: scale(1.05); /* Slightly increase the size */
        position: relative; /* Needed for pseudo-elements positioning */
    }

    /* Example of animated underline */
    .nav-button::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: #000000; /* Change to your preferred underline color */
        transition: width 0.3s;
        position: absolute;
        bottom: -5px; /* Adjust the position as needed */
    }

    .nav-button:hover::after {
        width: 100%; /* Underline grows to full width */
    }

/* Extra small devices */
@media (max-width: 599.98px) {
    /* CSS rules for extra small devices go here */
}

/* Small devices */
@media (min-width: 600px) and (max-width: 959.98px) {
    /* CSS rules for small devices go here */
}

/* Medium devices */
@media (min-width: 960px) and (max-width: 1279.98px) {
    /* CSS rules for medium devices go here */
}

/* Large devices */
@media (min-width: 1280px) and (max-width: 1919.98px) {
    /* CSS rules for large devices go here */
}

/* Extra Large devices */
@media (min-width: 1920px) and (max-width: 2559.98px) {
    /* CSS rules for extra large devices go here */
}

/* Extra Extra Large devices */
@media (min-width: 2560px) {
    /* CSS rules for extra extra large devices go here */
}
