@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <div class="me-3"><a href="https://docs.microsoft.com/aspnet/">Shop</a></div>
            <div class="me-3"> <a href="https://docs.microsoft.com/aspnet/">Gallery</a></div>
            <div class="me-3"><a href="https://docs.microsoft.com/aspnet/">FAQ</a></div>
            <div class="me-3"><a href="https://docs.microsoft.com/aspnet/">About Us</a></div>
            <div class="icons">
                <a href="#"><img src="/search-svgrepo-com.svg" alt="Search Icon"></a>
                <a href="#"><img src="/cart-icon.svg" alt="Cart Icon"></a>
                <a href="#"><img src="/user-icon.svg" alt="User Icon"></a>
            </div>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
