@page "/account-management/profile"

<AuthorizeView>
    <Authorized>
        <p>You are logged in.</p>
    </Authorized>
    <NotAuthorized>
        <p>You are not authorized to view this page. Please log in.</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    // Your code here
}