@font-face {
    font-family: 'Outfit';
    src: url('./fonts/Outfit-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('./fonts/Outfit-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

.tolowercase {
    text-transform: lowercase;
}
.mud-button {
    text-transform: capitalize !important; /*For Lower case use lowercase*/
}
.tocapitalize {
    text-transform: capitalize;
}
.mud-grid.mud-grid-spacing-xs-3.justify-start.login-grid {
    justify-content: center!important;
}
.nav-button {
    transition: all 0.2s ease; /* Smooth transition for all properties */
}

    .nav-button:hover {
        background-color: rgba(255, 255, 255,0.7); /* Change to your preferred hover background color */
        color: rgb(8, 28, 255); /* Change to your preferred hover text color */
        position: relative; /* Needed for pseudo-elements positioning */
    }

    /* Example of animated underline */
    .nav-button::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        /*background: rgb(0, 0, 0);*/ /* Change to your preferred underline color */
        transition: width 0.2s;
        position: absolute;
        bottom: 5px; /* Adjust the position as needed */
    }

@keyframes slideInFromBottom {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


mud-toolbar .mud-toolbar-appbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

footer.footer {
    height: 300px;
    background-color: black;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
}

.transition-drawer.mud-drawer-content {
    transition: transform 0.3s ease-in-out;
}

.mud-button-group-root {
    display: flex;
    justify-content:space-between;
}
.mud-container.home-container-padding {
    padding-right: 0px !important;
    padding-left: 0px !important;
}
/* CONTROLS THE GALLERY CAROUSEL OVERRIDES MUDBLAZOR DEFAULT BEHAVIOR*/
/*.mud-carousel {*/
    /* Rotate the container */
    /*transform: rotate(-90deg) translateX(-100%);*/
    /* Set the transform origin to the top left corner */
    /*transform-origin: top left;*/
    /* Set the position to absolute to position the carousel */
    /*position: absolute;*/
    /* Set top position to the height of the navbar */
    /*top: 68px;*/
    /* Set left position to 0 */
    /*left: 0;*/
    /* Set width to the viewport height minus navbar height, adjust if necessary */
    /*width: calc(100vh - 68px);*/
    /* Set height to the full width of the viewport */
    /*height: calc(100vw - 4px);
}*/

/* Adjust the individual content items */
/*.carousel-content {*/
    /* Rotate the content to make it upright */
    /*transform: rotate(90deg);*/
    /* Set the transform origin to the center */
    /*transform-origin: center;*/
    /* Content will be centered using 'd-flex' and 'mx-auto my-auto' */
/*}*/

/* Ensure the carousel item fills the rotated container */
/*.mud-carousel-item {*/
    /* The width should be 100% of the carousel's height after rotation */
    /*width: 100%;*/
    /* The height should be the same as the carousel width before rotation */
    /*height: calc(100vh - 64px);*/
/*}*/




.gallery-page.mud-progress-linear-bar {
    background-color: darkorange; /* Use the specific shade of orange you prefer */
    height:4px;
}

/* Used For Account Management Cards*/
.mud-card-content.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center; /* For centering text */
    width: 100%; /* Ensure full width if needed */
}
    .mud-card-content.center-content:hover {
        background-color: aliceblue;
        cursor: pointer;
    }

.my-custom-hover-button {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: lowercase;
    color: white;
    display: flex; /* This will align the icon properly within the appbar */
    flex-direction: row;
    justify-content: space-between;

}
mud-grid mud-grid-spacing-xs-3 justify-start edit-grid{
justify-content: center!important;
}
mud-grid.mud-grid-spacing-xs-3 {
    justify-content: center!important;
}
.mud-badge-root .mud-badge-wrapper {
    width: 75%;
    height: 75%;
}
.my-custom-hover-button:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Red with 50% opacity */ /* Change this color to your preferred hover color */
    /* Add other hover styles if needed */
}
.icon-button-color {
    color: black; /* Or any other color */
}
.mud-input-slot.mud-input-root.mud-input-root-text{
   text-align:center;
   margin-top:0px;
}
.mud-input-control.mud-input-input-control.mud-input-number-control.mud-input-nospin{
    margin-top:0px;
}


/* AppbarHeight for tablets (small devices) */
@media (max-width: 599.98px) {
    header .mud-appbar.mud-appbar-fixed-top.mud-elevation-1.mud-theme-dark {
        padding: 8px;
    }
    .mud-progress-linear.horizontal.mud-progress-linear-small{
        height: 12px;
    }
    /* CONTROLS THE GALLERY CAROUSEL OVERRIDES MUDBLAZOR DEFAULT BEHAVIOR*/
    /*.mud-carousel {*/
        /* Rotate the container */
        /*height: calc(100vw);
    }*/
    .mud-appbar .mud-toolbar-appbar
    .mud-toolbar {
        flex-direction: column;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .mud-toolbar {
        padding:0 8px;
    }
    .mud-appbar.mud-appbar-fixed-top {
        position: sticky;
        top: 0;
        right: 0;
        left: 0;
    }
    /*div.mud-main-content {
        padding: 0px;
    }*/
}
/* AppbarHeight for tablets (small devices) */
@media (min-width: 600px) {


    .mud-toolbar {
        padding: 0 8px;
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        .mud-toolbar .mud-toolbar-appbar {
            color: black;
        }

    .mud-appbar.mud-appbar-fixed-top {
        position: sticky;
        top: 0;
        right: 0;
        left: 0;
    }

    /*.mud-carousel {*/
        /* Rotate the container */
        /*height: calc(100vw);
    }*/
}
/* AppbarHeight for desktop (medium devices) */
@media (min-width: 960px) {
    .mud-appbar {
        height: 64px; /* adjust this value as needed */
    }

}

/* AppbarHeight for large desktop (large devices) */
@media (min-width: 1280px) {
    .mud-appbar {
        height: 64px; /* adjust this value as needed */
    }

}

